body,
* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 4px;
}

nav ul {
    background-color: blue;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration:overline;
    color:#34c745;
    font-weight: 600;
}


.calcultator {
    display: flex;
    flex-direction: row;
    /* or just remove this line, since 'row' is default */
    gap: 10px;
    /* optional: adds space between the two boxes */
    padding: 20px;
}

.main-calculator,
.system-calculator {
    flex: 1;
}

.main-calculator {
    width: 688px;
    height: 262px;
    border-radius: 25px;
background: #8D57EC;
}
.main-calculator h3{
    padding-bottom:15px;
    color: #fff;
    text-align: center;
}
.main-calculator label{
    color: #fff;
    font-size:16px;
    font-weight: 700;
    margin-left: 10px;
}
.main-calculator input{
    margin-left: 35px;
    padding: 2px;
    border-radius: 5px;
    width:317px;
    height: 17px;
    text-align: center;
    color: #0004F6;
    border-color: #0004F6;
    
}
.main-calculator input:focus-visible{
    outline: 1px solid #0004F6;
}
.main-calculator input::placeholder{
    color: #0004F6;
}

.main-calculator select {
    margin-top: 10px;
    margin-left: 95px;
    width: 50%;
    height: 30px;
}
.main-calculator .calBtn{
    margin-left: 15px;
    width: 90px;
    height: 35px;
}
.main-calculator .copyBtn{
    margin-left: 15px;
    width: 90px;
   height: 35px;
}
.calBtn {
    margin-top: 5px;
    padding: 2px;
    border: 1px solid #4d21de;
    border-radius: 4px;
    color: #4d21de;
    background-color: #fff;
    ;
}

.calBtn:hover {
    margin-top: 5px;
    padding: 2px;
    border: 1px solid none;
    border-radius: 4px;
    color: #fff;
    background-color: #4d21de;
}

.copyBtn {
    padding: 2px;
    border: 1px solid #34c745;
    border-radius: 4px;
    color: #34c745;
    background-color: #fff;
}

.copyBtn:hover {
    margin-top: 5px;
    padding: 2px;
    border: 1px solid none;
    border-radius: 4px;
    color: #fff;
    background-color: #34c745;
}

.deleteBtn {
    padding: 2px;
    border: 1px solid #fa0720;
    border-radius: 4px;
    color: #fa0720;
    background-color: #fff;

}

.deleteBtn:hover {
    padding: 2px;
    border: 1px solid none;
    border-radius: 4px;
    color: #fff;
    background-color: #fa0720;
}

table {
    border: none;
    text-align: center;
    align-items: center;
}

table caption {
    text-align: center;
    ;
}
button img{
    width: 18px;
}
.system-calculator  table thead {
    border: none;
    background-color: #0004F6;
    color: #fff;

}
.system-calculator table tbody, 
.system-calculator table tfoot{
    border: 1px solid #0004F6;
    border-radius: 10px;

}