/* Global Styles */
* {
  font-family: 'Hanuman', sans-serif;
}

body {
  cursor: url('./assets/cursor.png'), auto;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

/* Table Styles */
table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

caption {
  font-size: 1.5em;
  font-weight: bold;
}

thead th {
  background-color: #4a90e2;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border: 1px solid rgb(255, 215, 0);
}

input[type="number"] {
  padding: 6px;
  border-radius: 4px;
  outline: none;
}

/* Buttons */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}
